@model web2.Models.HomeContent

@{
	ViewBag.Title = "Home - Welcome";
}
<style>
	.user-image-container {height: 225px;}
	.event-thumbnail {margin: 0.25em;}
	.event-link {font-weight: bold;font-size: 0.8em;margin-bottom: 0.3em;}
	.event-date {font-size: 0.8em;margin-bottom: 0.3em;}
	.in-active {background-color: lightgrey;}
	.like {color: #4CAF50;}
	.mycanvas-follow {color: #4CAF50;}
	.mycanvas-following {color: #4CAF50;}
	.web2-like {color: #4CAF50;}
	.like-link:hover {cursor: pointer;}
	.like-link {text-decoration: none;margin-right: 0.75em;}
	.disabled-spacing {margin-right: 0.75em;font-size: 0.8em;}
	.your-item {color: darkgrey}
</style>

<h2>@ViewBag.Title</h2>
@if (Model.Events.Count == 0) {
	<p>Without events all we can look forward to is the Big Crunch.</p>
}
else {
	<div>
		@foreach (web2.Models.Event e in Model.Events) {
			<div id="image-@e.ID" class="user-image-container">
				@if (e.EventImage != null) {
					<a href="@Url.Action("Event", new { id = e.ID })">
						<img class="user-profile-thumbnail" src="@string.Concat("data:Image/",
								e.EventImage.FileExtension, ";base64,",
								e.EventImage.BytesBase64)" />
					</a>
				}
			<div class="event-thumbnail">
				<div class="event-link"><a href="@Url.Action("Event", new { id = e.ID })">@e.Title</a></div>
				@if (e.Start.Date == e.End.Date) {//The event starts and ends on the same day
					<div class="event-date">@e.Start.DayOfWeek @e.Start.ToShortDateString()</div>
					<div class="event-date">@e.Start.ToShortTimeString() to @e.End.ToShortTimeString()</div>
				}
				else {
					<div class="event-date"> @e.Start.ToShortDateString() -  @e.End.ToShortDateString()</div>
					<div class="event-date"> @e.Start.ToShortTimeString() to @e.End.ToShortTimeString()</div>
				}
				<div>
					@if (Model.User.IsAuthenticated) {
						if (e.User.UID == Model.User.UID) {
							<i class="fal fa-thumbs-up" title="This is your event. Like is disabled."></i> <span class="disabled-spacing">(<label id="like-count-@e.ID">@e.TotalLikes</label>)</span>
						}
						else {
							string strLikeClass = "fal"; //this is the "not currently liked" class
							if (Model.User.DoesUserLike(web2.Models.Like.Types.Event, e.ID)) {
								strLikeClass = "fas"; //this is the "like" class
							}
							<a class="like-link" id="like-user-a-@e.ID" href="javascript:void(0);" onclick="toggleEventLike('index', @Model.User.UID, @e.ID);">
								<i id="like-user-i-@e.ID" class="mycanvas-follow @strLikeClass fa-thumbs-up"></i> <span style="font-size: 0.8em;">(<label id="like-count-@e.ID">@e.TotalLikes</label>)</span>
							</a>
						}
					}
					@{
						string[] rates = new string[5];
						if (e.AverageRating > 0) { rates[0] = "checked"; }
						if (e.AverageRating > 1) { rates[1] = "checked"; }
						if (e.AverageRating > 2) { rates[2] = "checked"; }
						if (e.AverageRating > 3) { rates[3] = "checked"; }
						if (e.AverageRating > 4) { rates[4] = "checked"; }
					}
					<span id="rate1" class="fa fa-star @rates[0] rate-star"></span>
					<span id="rate2" class="fa fa-star @rates[1] rate-star"></span>
					<span id="rate3" class="fa fa-star @rates[2] rate-star"></span>
					<span id="rate4" class="fa fa-star @rates[3] rate-star"></span>
					<span id="rate5" class="fa fa-star @rates[4] rate-star"></span>
				</div>
			</div>
			</div>
		}
	</div>
}
<script>
	$(document).ready(function () {
		SetActiveMenus('home');
	});
</script>

